<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h1>New User</h1>
    <form action="newUser" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"><br><br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"><br><br>
        <label for="username">User Name:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="Submit" id="Submit">
    </form><br><br>
    <p style="color:red;"><%=errorMessage%></p>
</body>
</html>